*{
    margin:0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    background-color: black;
}
h1{
    color: white;
    float: right;
    margin-top: 300px;
    margin-right: 100px;
}
h2{
    color: white;
    text-align: center;
    font-size: 40px;
}
p{
    color: white;
    font-size: 20px;
}
